// Import bootstrap and fontawesome
@import "bootstrap";
@import "font-awesome";

$font-stack:    Helvetica, sans-serif;
$font-nav-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
$primary-color: #0b1d45;
$nav-color: #e0e4ec;
$nav-hover-color: #dadabb;
$nav-back: #032d39;
$body-hover-back: #51a5bb;
$body-btn-back: #5caabb;
$standardStaticSize: 1.4em;

html{
  height:100%;
}

#map {
  height: 645px;
}

body {
  height:100%;
  margin:0;
  font: 100% $font-stack;
  color: $primary-color;

  .pace.pace-inactive{
       height:0;
  }

  .btn-primary{
    background-color:$body-btn-back;
    color:$primary-color;
    border-color:$nav-color;
  }
  .btn-primary:hover{
    background-color:$primary-color;
    border-color:$nav-color;
  }

  .home-spread {
    height:600px;
    background-image: url(../images/costa-ants.jpg);
    background-repeat: no-repeat;
    margin-top: -40px;
    margin-left: -86px;
    margin-right: -46px;
    color:#fff;
    text-shadow:1px 0 $primary-color;


  h3 {
    padding-top:9%;
    padding-left:8%;
  }

  h5 {
    padding-top:2.33%;
    padding-left:8%;
  }

  }

  textarea {
    width:80%;
    height:60px;
    background-color: #F4F0EF;
    border:4px solid #dedede;
  }

  .content-entry{
    margin:0 15px;
  }

  .text-background {
    min-height:60px;
    padding:4px;
    background-color: $nav-hover-color;
    border:3px solid $nav-back;
    border-radius: 3px;
  }


}



form .user-submit{
  padding-top:15px;
  padding-bottom:15px;
}

.user-entries{
  list-style-type: none;
  font-size: $standardStaticSize;
  color: $nav-back;
}

.pad-buffer {
  padding:10px 0px;
}


.navbar {
  color: $nav-color;
  background-color: $nav-back;
  //background-image: url(../images/sos-dark.png);
  background-repeat: repeat;
  border-bottom:5px solid $primary-color;
  border-radius:0;


  .logo {
    padding-left:15px;
  }

  .user-signin {
    margin-top:33px;
  }

  nav {

    margin-top:8px;

    .nav {

      //background-color:#000000;
      padding:1px 10px;
      //border-radius:9px;

    }

    .nav, .nav a{
      color: $nav-color;
      text-shadow:1px 0 $primary-color;

      li span {
        display:inline-block;
        padding-top:3px;
        padding-bottom:3px;
        font-size:1.8em;
      }

      li a {
        padding: 3px 5px;
        font-size:2.4em;
        font-weight:200;
        background-color:transparent;
      }

      a:hover, a:active{
        color:$body-hover-back;
        background-color:$primary-color;
      }
    }

  }

}