// Import bootstrap and fontawesome
@import "bootstrap";
@import "font-awesome";

$font-stack:    Helvetica, sans-serif;
$font-nav-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
$primary-color: #0b1d45;
$nav-color: #e0e4ec;
$nav-hover-color: #dadabb;
$nav-back: #032d39;
$body-hover-back: #51a5bb;
$body-btn-back: #5caabb;
$error-color: #cc0011;
$standardStaticSize: 1.4em;

html{
  height:100%;
}

#map {
  height: 645px;
}


body {
  height:100%;
  margin:0;
  font: 100% $font-stack;
  color: $primary-color;

  video {
    width: 100%    !important;
    height: auto   !important;
  }

  .pace.pace-inactive{
       height:0;
  }

  #background, #background-main {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
  }

  #background{
    z-index:-1;
  }

  #background-main{
    opacity:0.67;
    z-index:-3;
  }

  .stretch {
    width:100%;
    height:100%;
  }

  .btn-primary{
    background-color:$body-btn-back;
    color:$primary-color;
    border-color:$nav-color;
  }

  .btn-sm{
    margin-top: -4px;
    padding: 7px 10px;
  }

  .btn-primary:hover{
    background-color:$primary-color;
    border-color:$nav-color;
  }

  .home-spread {
    height:100%;
    position:absolute;
    //background-image: url(../images/costa-ants-med.jpg);
    //background-repeat: no-repeat;
    top:0;
    left:0;
    color: #fff;
    text-shadow: 1px 0 $primary-color;

    h3 {
      padding-top:76px;
      padding-left:105px;
    }

    h5 {
      padding-top: 40px;
      padding-left: 132px;
    }

  }


  h5 {
    font-size:20px;
    font-weight:100;
  }

  input{
    font-size:16px;
    border:1px solid;
    width:100%;
    letter-spacing: 1px;
    border-color: $body-btn-back;
  }

  input:focus {
    outline:none;
    border-color: $primary-color;
  }

  .input-error {
    border-color: $error-color;
  }

  .socket-input input{
    width: 80%;
    padding:6px;
    margin-top:2px;
  }

  ::-webkit-input-placeholder { font-weight:200; }
  ::-moz-placeholder { font-weight:200; } /* firefox 19+ */
  :-ms-input-placeholder { font-weight:200; } /* ie */
  input:-moz-placeholder { font-weight:200; }

  .kb-alert{
    margin-bottom: 20px;
  }

  .kb-alert-danger {
    color:$error-color;
    background-color:transparent;
  }

  textarea {
    width:80%;
    height:60px;
    background-color: #F4F0EF;
    border:4px solid #dedede;
  }

  .content-entry{
    margin:0 15px;
  }

  .text-background {
    min-height:60px;
    padding:4px;
    background-color: $nav-hover-color;
    border:3px solid $nav-back;
    border-radius: 3px;
  }

  .editor-buttons .btn{
    position: relative;
    margin:6px;
    width:36px;
    height:36px;
  }

  .editor-buttons .btn-default{
    background-color:#032d39;
    color:#dadabb;
  }

  .editor-buttons .btn-default:hover, .editor-buttons .btn-default:active{
    color:#ebebcc;
    background-color:#032d39;
  }
  //be prepared to add / adjust width property here

  .editor-buttons .edit-btn-text{
    display:block;
    position: absolute;
    top:0;
    left:0;
    padding:5px;
  }

  .modal-footer .request-processing{
    height: 22px;
    width: 22px;
    margin-right: 22px;
  }

  .modal-signin{
    margin:0 10px 10px 0;
    padding:5px;
    border-radius:3px;
  }


  form .user-submit{
    padding-top:15px;
    padding-bottom:15px;
  }

  .user-entries{
    list-style-type: none;
    font-size: $standardStaticSize;
    color: $nav-back;
  }

  .pad-buffer {
    padding:10px 0px;
  }

  .data-visual{

    .axis path, .axis line{
      fill:none;
      stroke:#ababab;
      shape-rendering: crispEdges;
    }

    .tick{
      font: 10px sans-serif;
    }

    circle{
      fill:#8888dd;
    }

  }


  nav {

    position:relative;
    color: $nav-color;
    background-color: $nav-back;
    //background-image: url(../images/sos-dark.png);
    background-repeat: repeat;
    padding-top: 4px;

    .logo {
      padding: 0;
    }

    .logo-absolute{
      position:absolute;
      left:20px;
      top:4px;
    }

    .user-signin {
      margin-top: 10px;
    }

    .user-signin a {
      color: $nav-color;
      text-shadow: 1px 0 $primary-color;
      font-size: 1.2em;
      font-weight: 200;
      background-color: transparent;
    }

    .user-signin a:hover, .user-signin a:active {
      color: $body-hover-back;
      cursor: pointer;
      background-color: transparent;
      transition: color 500ms;
      text-decoration: none;
    }

    .accordian {
      font-size: 3.3em;
    }

    .nav {

      padding: 38px 0 0 0;

    }

    .nav, .nav a {
      color: $nav-color;
      text-shadow: 1px 0 $primary-color;

      li span {
        display: inline-block;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 1.8em;
      }

      li a {
        padding: 3px 5px;
        font-size: 2.4em;
        font-weight: 200;
        background-color: transparent;
      }

      a:hover, a:active, a:focus {
        color: $body-hover-back;
        background-color: transparent;
        text-decoration: none;
        transition: color 500ms;
      }

    }

  }

  nav.navbar{
    height:81px;
    border-radius:0;
    border-bottom: 4px solid $body-btn-back;

  }

}