<div ng-controller='FormzController as formz'>
    <div class="container">
        <div class="row">
            <section class="col-xs-12 col-md-6">
                <form class="form-horizontal" name="userEntryForm" ng-submit="formz.submitUserEntry(userEntryForm.$valid)">
                    <div>
                        <label class="col-xs-12">Enter Your User Id</label>
                        <input class="input-md" type="text" ng-model="formz.userIdChange">
                        <input ng-model="formz.formInfo.userName" type="text">
                    </div>
                    <div>
                        <div class="form-group">
                            <label>{{formz.formInfo.userId}}</label>
                        </div>
                        <div class="form-group">
                            <label>{{formz.formInfo.userName}}</label>
                        </div>

                        <div class="form-group">
                            <div class="content-entry text-background" contenteditable="true" ng-maxlength="1000">

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 user-submit">
                        <button type="submit" class="btn btn-primary">Post Entry</button>
                    </div>

                </form>

            </section>
            <section class="col-xs-12 col-md-6">
                <ul class="user-entries">
                     <li ng-repeat="entry in formz.formInfo.userComments track by $index">
                         <h4>{{entry.user}}</h4>
                         <div ng-bind-html="entry.comment"></div>
                     </li>
                </ul>
            </section>
        </div>
    </div>
</div>