<div ng-controller='MapController as kmaps'>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li active><a href="">Join the Team</a></li>
                <li disabled><a href="">Find Teammates</a></li>
            </ul>
            <h3 class="text-muted">The K-Locator</h3>
        </div>
        <!-- Map and Side Panel -->
        <div class="row content">
            <!-- Google Map -->
            <div class="col-md-8">
                <div id="map"><img src="holder.js/645x645"></div>
            </div>
            <!-- Side Panel -->
            <div class="col-md-4">
                <div class="panel panel-default">
                    <!-- Panel Title -->
                    <div class="panel-heading">
                        <h2 class="panel-title text-center">Join the K-Team <i class="fa fa-map-marker"></i></h2>
                    </div>
                    <!-- Panel Body -->
                    <div class="panel-body">
                        <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
                        <form name ="addForm" novalidate>
                            <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                            <div class="form-group">
                                <label for="username">Username <span class="badge">All fields required</span></label>
                                <input type="text" class="form-control" id="username" placeholder="KellyBoy" ng-model="kmaps.formData.username" required>
                            </div>
                            <label class="radio control-label">Gender</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="radiomale" value="Male" ng-model="kmaps.formData.gender">
                                    Male
                                </label>
                            </div>
                            <div class="radio" required>
                                <label>
                                    <input type="radio" name="optionsRadios" id="radiofemale" value="Female" ng-model="kmaps.formData.gender">
                                    Female
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="radioother" value="What's it to ya?" ng-model="kmaps.formData.gender">
                                    What's it to ya?
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="age">Age</label>
                                <input type="number" class="form-control" id="age" placeholder="48" ng-model="kmaps.formData.age" required>
                            </div>
                            <div class="form-group">
                                <label for="language">Favorite Language</label>
                                <input type="text" class="form-control" id="language" placeholder="Fortran" ng-model="kmaps.formData.favlang" required>
                            </div>
                            <div class="form-group">
                                <label for="latitude">Latitude</label>
                                <input type="text" class="form-control" id="latitude" value="39.500" ng-model="kmaps.formData.latitude" readonly>
                            </div>
                            <div class="form-group">
                                <label for="longitude">Longitude</label>
                                <input type="text" class="form-control" id="longitude" value="-98.350" ng-model="kmaps.formData.longitude" readonly>
                            </div>
                            <div class="form-group">
                                <label for="verified">HTML5 Verified Location? <span><button class="btn btn-default btn-xs"><i class="fa fa-refresh"></i></button></span></label>
                                <input type="text" class="form-control" id="verified" placeholder= "Nope (Thanks for spamming my map...)" ng-model="kmaps.formData.htmlverified" readonly>
                            </div>
                            <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                            <button type="submit" class="btn btn-danger btn-block" ng-click="kmaps.createUser()" ng-disabled="addForm.$invalid">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
    </div>
</div>