<div ng-controller='ModalController as modalc'></div>
<div ng-controller='NavController as nav'>
    <div id="navbar">
        <nav class="navbar" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-5">
                        <div class="logo-absolute">
                            <a ui-sref="home">
                                <img class="logo" src="../images/kbyte-logo-small.png"></img>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="nav-sections hidden-xs">
                            <ul class="nav navbar-nav">
                                <li><a ui-sref="comms">Comms</a></li>
                                <li><span>|</span></li>
                                <li><a ui-sref="formz">Thoughts</a></li>
                                <li><span>|</span></li>
                                <li><a ui-sref="kmaps">Maps</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2 hidden-xs">
                        <div class="user-signin">
                            <a id="signin">Log In / Sign Up</a>
                        </div>
                        <div class="pad-buffer">
                            <span>{{nav.winLocation}}</span>
                        </div>
                    </div>
                    <div class="hidden-lg hidden-md hidden-sm">
                        <i class="accordian fa fa-bars"></i>
                    </div>
                    <div id="topnav-mobile" class="nav-sections-mobile collapse hidden-lg hidden-md hidden-sm">
                        <ul class="dropdown-menu" role="menu" style="display:block !important;">
                            <li><a ui-sref="comms">Comms</a></li>
                            <li><span>|</span></li>
                            <li><a ui-sref="forms">Forms</a></li>
                            <li><span>|</span></li>
                            <li><a ui-sref="kmaps">Maps</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>